n8n_backups/my-workflow-4-yQLUgSwVbS1QrRYb.json
{"createdAt":"2025-02-28T10:04:49.805Z","updatedAt":"2025-03-02T23:58:24.000Z","id":"yQLUgSwVbS1QrRYb","name":"My workflow 4","active":false,"nodes":[{"parameters":{"path":"8aeb5ed3-acbe-41c3-aad4-df44e1e5df68","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"469e47db-4420-4e41-9d88-4914a15f9fdc","name":"Webhook","webhookId":"8aeb5ed3-acbe-41c3-aad4-df44e1e5df68"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"17cb82cd-ecdc-42ca-ae7d-eaac5339b426","name":"Code"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,0],"id":"b1f80bc0-dd45-4592-9774-b9921624adde","name":"AI Agent"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"288e823f-a859-4674-89ca-2c68d06f2451","triggerCount":0,"tags":[{"createdAt":"2025-02-28T10:13:25.252Z","updatedAt":"2025-02-28T10:13:25.252Z","id":"AgcwmEAxVKDF6yfH","name":"TESTE1"}]}