n8n_backups/n8n_backup-cwy3K2pGWUxX37bz.json
{"createdAt":"2025-02-28T09:54:58.768Z","updatedAt":"2025-02-28T10:13:30.000Z","id":"cwy3K2pGWUxX37bz","name":"n8n_backup","active":false,"nodes":[{"parameters":{},"id":"b9e32447-8ad3-483f-a6a7-25c5104578ee","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[460,200]},{"parameters":{"options":{}},"id":"e3ac991d-4031-454a-a9b9-73a6bb0174ec","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[660,200]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"e87acefc-7d3c-4241-b394-77b6fcf3feb1","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[860,200]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"59b467a2-b23f-4a09-b7f8-5c2cd6cdd372","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1060,200]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"kapellaz","mode":"name"},"repository":{"__rl":true,"value":"n8n_gcp","mode":"list","cachedResultName":"n8n_gcp","cachedResultUrl":"https://github.com/kapellaz/n8n_gcp"},"filePath":"=/n8n_backups"},"id":"a687d285-ec08-460f-af14-b651fdfc9104","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1260,200],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"aTAzivenNUt4tSCJ","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"9fc756f9-2e6f-4583-9b98-4d352e67406a","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1460,200]},{"parameters":{"filters":{"tags":"TESTE1"},"requestOptions":{}},"id":"5b856469-0c17-450f-9f6b-99738de34ddc","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1660,200],"credentials":{"n8nApi":{"id":"2MpaqOyjqmACuJxi","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"a450ba0b-1e51-4685-b728-4e529d17aee4","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1860,200]},{"parameters":{"batchSize":1,"options":{}},"id":"c55a71d7-5d9e-4159-b7f2-efe95ba2bc56","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2100,200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"4b9b5409-28c1-407c-bee5-771adf9deb84","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2340,120]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"kapellaz","mode":"name"},"repository":{"__rl":true,"value":"n8n_gcp","mode":"list","cachedResultName":"n8n_gcp","cachedResultUrl":"https://github.com/kapellaz/n8n_gcp"},"filePath":"=n8n_backups/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"ce16924f-551c-4782-b7e5-7fa1c3d7399f","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2560,-100],"credentials":{"githubOAuth2Api":{"id":"aTAzivenNUt4tSCJ","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"kapellaz","mode":"name"},"repository":{"__rl":true,"value":"n8n_gcp","mode":"list","cachedResultName":"n8n_gcp","cachedResultUrl":"https://github.com/kapellaz/n8n_gcp"},"filePath":"=n8n_backups/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"acb4c294-3ede-4b0c-b880-a85aedae1344","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2560,320],"credentials":{"githubOAuth2Api":{"id":"aTAzivenNUt4tSCJ","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e1e2bac-8c39-4780-a3ad-837878a0c760","triggerCount":0,"tags":[{"createdAt":"2025-02-28T10:13:25.252Z","updatedAt":"2025-02-28T10:13:25.252Z","id":"AgcwmEAxVKDF6yfH","name":"TESTE1"}]}