n8n_backups/teste-topHTKMIulWn7hHC.json
{"createdAt":"2025-02-21T22:05:11.531Z","updatedAt":"2025-03-02T23:19:13.000Z","id":"topHTKMIulWn7hHC","name":"teste","active":false,"nodes":[{"parameters":{"authentication":"oAuth2","owner":{"__rl":true,"value":"https://github.com/kapellaz","mode":"url"},"repository":{"__rl":true,"value":"n8n_gcp","mode":"list","cachedResultName":"n8n_gcp","cachedResultUrl":"https://github.com/kapellaz/n8n_gcp"},"events":["push"],"options":{}},"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[0,0],"id":"b648bbd9-8089-424f-97eb-69744530f3b1","name":"Github Trigger","webhookId":"c5d91892-b122-4e9c-8c5a-5ccd7f874c16","credentials":{"githubOAuth2Api":{"id":"aTAzivenNUt4tSCJ","name":"GitHub account"}}},{"parameters":{"authentication":"webhook","content":"={{ $json.body.pusher.name }} pushed into {{ $json.body.repository.master_branch }} at {{ $json.body.head_commit.timestamp }} with the message: {{ $json.body.head_commit.message }}\n\nYou can view the commit here: {{ $json.body.head_commit.url }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[220,0],"id":"a83ad5f4-0567-49f1-8c4b-2960d0d26715","name":"Discord","webhookId":"76a8980f-6ac5-483d-a497-e1b9c3eeba0f","credentials":{"discordWebhookApi":{"id":"PwVqoKZ22XjiaiOU","name":"Discord Webhook account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-20,-180],"id":"63b25371-9bb1-4081-944b-f07ac86e7189","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"b262ec97-eba2-46c8-9e5b-a52578fdd2ac","name":"Edit Fields"}],"connections":{"Github Trigger":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Discord":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Discord","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Github Trigger":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b497ca9e-d30f-4c3b-8bbd-bb9efa06332e","triggerCount":1,"tags":[{"createdAt":"2025-02-28T10:13:25.252Z","updatedAt":"2025-02-28T10:13:25.252Z","id":"AgcwmEAxVKDF6yfH","name":"TESTE1"}]}